[*.cs]
# Place open braces on the same line
csharp_new_line_before_open_brace = none
csharp_new_line_before_open_brace_types = none
csharp_new_line_before_open_brace_methods = none
csharp_new_line_before_open_brace_properties = none
csharp_new_line_before_open_brace_control_blocks = none

[BeastieBot3/BeastieLegacy/**]
dotnet_diagnostic.CS0162.severity = none
dotnet_diagnostic.CS0169.severity = none
dotnet_diagnostic.CS0414.severity = none
dotnet_diagnostic.CS0612.severity = none
dotnet_diagnostic.CS0649.severity = none
dotnet_diagnostic.CS8600.severity = none
dotnet_diagnostic.CS8601.severity = none
dotnet_diagnostic.CS8603.severity = none
dotnet_diagnostic.CS8604.severity = none
dotnet_diagnostic.CS8618.severity = none
dotnet_diagnostic.CS8619.severity = none
dotnet_diagnostic.CS8625.severity = none
dotnet_diagnostic.CS8629.severity = none