[*.cs]
# Place open braces on the same line
csharp_new_line_before_open_brace = none
csharp_new_line_before_open_brace_types = none
csharp_new_line_before_open_brace_methods = none
csharp_new_line_before_open_brace_properties = none
csharp_new_line_before_open_brace_control_blocks = none