<?# title ?>{{Short description|none}}
{{Use dmy dates|date=January 2026}}
<? title ?>
<?/ title ?>
<?# description ?><? description ?>

<?/ description ?>As of <? dataset_version ?>, the [[International Union for Conservation of Nature]] (IUCN) has assessed <? total_entries ?> [[amphibian]] taxa in this category.<ref name="iucn-redlist">{{cite web |url=https://www.iucnredlist.org/ |title=IUCN Red List of Threatened Species |access-date=<? generated_at ?>}}</ref>

__TOC__
