<?# title ?>{{Short description|none}}
{{Use dmy dates|date=<? generated_month_year ?>}}
<? title ?>
<?/ title ?>
<?# description ?><? description ?>

<?/ description ?>As of <? dataset_year ?>, the [[International Union for Conservation of Nature]] (IUCN) lists <? species_count ?> <? status_wiki_link ?> [[amphibian]] species<?# pe_text ?><? pe_text ?><?/ pe_text ?>.<ref name="iucn-redlist">{{cite web |title=IUCN Red List of Threatened Species<?# dataset_version ?>. Version <? dataset_version ?><?/ dataset_version ?> |url=https://www.iucnredlist.org/ |access-date=<? generated_at ?> |publisher=International Union for Conservation of Nature and Natural Resources (IUCN)}}</ref><?# percentage_text ?> <? percentage_text ?><?/ percentage_text ?>

<?# subspecies_paragraph ?><? subspecies_paragraph ?>

<?/ subspecies_paragraph ?><?# subpopulation_paragraph ?><? subpopulation_paragraph ?>

<?/ subpopulation_paragraph ?><?# threatened_context ?><? threatened_context ?>

<?/ threatened_context ?><?# dd_info ?><? dd_info ?>

<?/ dd_info ?><? notes_paragraph ?>

{{TOC limit|3}}
