<?# title ?>{{Short description|none}}
{{Use dmy dates|date=January 2026}}
<? title ?>
<?/ title ?>
<?# description ?><? description ?>

<?/ description ?>This list contains species previously assessed as ''[[Conservation-dependent species|conservation dependent]]'' (LR/cd) under the 1994 [[IUCN Red List]] criteria. The category was deprecated in 2001 but is retained for assessments that have not been re-evaluated. As of <? dataset_version ?>, <? total_entries ?> taxa remain in this category.<ref name="iucn-redlist">{{cite web |url=https://www.iucnredlist.org/ |title=IUCN Red List of Threatened Species |access-date=<? generated_at ?>}}</ref>

__TOC__
