{{Short description|none}}
{{Use dmy dates|date=<? generated_month_year ?>}}

<?# taxa_adjective ?>As of <? dataset_year ?>, the [[International Union for Conservation of Nature]] (IUCN) lists <? species_count ?> <? status_wiki_link ?> <? taxa_adjective ?> species<?# pe_text ?><? pe_text ?><?/ pe_text ?>.<ref name="iucn-redlist">{{cite web |title=IUCN Red List of Threatened Species<?# dataset_version ?>. Version <? dataset_version ?><?/ dataset_version ?> |url=https://www.iucnredlist.org/ |access-date=<? generated_at ?> |publisher=International Union for Conservation of Nature and Natural Resources (IUCN)}}</ref><?# percentage_text ?> <? percentage_text ?><?/ percentage_text ?>

<?# subspecies_paragraph ?><? subspecies_paragraph ?>

<?/ subspecies_paragraph ?><?# subpopulation_paragraph ?><? subpopulation_paragraph ?>

<?/ subpopulation_paragraph ?><?# threatened_context ?><? threatened_context ?>

<?/ threatened_context ?><?# dd_info ?><? dd_info ?>

<?/ dd_info ?><? notes_paragraph ?>
<?/ taxa_adjective ?><?# simple_intro ?>As of <? dataset_year ?>, the [[International Union for Conservation of Nature]] (IUCN) has assessed a total of <? total_entries ?> taxa in this category (<? scope_label ?>).<ref name="iucn-redlist">{{cite web |title=IUCN Red List of Threatened Species<?# dataset_version ?>. Version <? dataset_version ?><?/ dataset_version ?> |url=https://www.iucnredlist.org/ |access-date=<? generated_at ?> |publisher=International Union for Conservation of Nature and Natural Resources (IUCN)}}</ref>
<?/ simple_intro ?>

{{TOC limit|3}}
