<?# title ?>{{Short description|none}}
{{Use dmy dates|date=January 2026}}
<? title ?>
<?/ title ?>
<?# description ?><? description ?>

<?/ description ?>As of <? dataset_year ?>, the [[International Union for Conservation of Nature]] (IUCN) lists <? species_count ?> <? status_wiki_link ?> <? taxa_adjective ?> species.<ref name="iucn-redlist">{{cite web |url=https://www.iucnredlist.org/ |title=IUCN Red List of Threatened Species |access-date=<? generated_at ?>}}</ref>

<?# subspecies_paragraph ?><? subspecies_paragraph ?>

<?/ subspecies_paragraph ?><? notes_paragraph ?>

{{TOC limit|3}}
