<?# title ?>{{Short description|none}}
{{Use dmy dates|date=<? generated_month_year ?>}}
<? title ?>
<?/ title ?>
<?# description ?><? description ?>

<?/ description ?>As of <? dataset_year ?>, the [[International Union for Conservation of Nature]] (IUCN) has assessed <? total_entries ?> taxa in <? scope_label ?>, grouped by conservation status.<ref name="iucn-redlist">{{cite web |title=IUCN Red List of Threatened Species<?# dataset_version ?>. Version <? dataset_version ?><?/ dataset_version ?> |url=https://www.iucnredlist.org/ |access-date=<? generated_at ?> |publisher=International Union for Conservation of Nature and Natural Resources (IUCN)}}</ref>

__TOC__
